@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Happy+Monkey&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smythe&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 600px;
    height: 1161px;
    margin: 0 auto;
}

.hidden{
    display: none;
}


.header{
    width: 600px;
    height: 167px;
    background-color: red;
    margin: auto;
    background-image: url(./burger_banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

.header__h1{
    color: #fff;
    width: 169.28px;
    height: 24px;
    position: absolute;
    top: 46px;
    right: 106px;
    
    font-family: "Smythe", system-ui;
    font-size: 39px;
    line-height: 24px;
    text-shadow: 0 0 1px #000;
}

.header__p{
    color: #fff;
    width: 275.46px;
    height: 8px;
    position: absolute;
    right: 1px;
    top: 89px;

    font-family: "Smythe", system-ui;
    font-size: 22.42px;
    line-height: 13.8px;

}

.item{
    width: 508px;
    height: 140px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    border-bottom: 2px solid #d2d2d2;

}

.item_e{
   font-size: 78.72px;
}

.item_text{
    display: flex;
    gap: 35px;
    font-family: "Smythe", system-ui;
}

.text_food{
    font-size: 28px;
    height: 17px;
    line-height: 16.8px;
    margin-bottom: 8px;
}

.text_ing{
    height: 24px;
    font-size: 16px;
    color: #8B8B8B;
    line-height: 24px;
    margin-bottom: 5px;

}

.text_price{
    font-size: 20px;
    line-height: 24px;
    height: 24px;
}

.text{
    margin-top: 12px;
    width: fit-content;
}
.item{
    display: flex;
    justify-content: space-between;
}

.plus{
    
    

    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1.5px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
   

}
.plus:hover{
    cursor: pointer;
    background-color: #cecccc;
}

.order{
    width: 508px;
    height: 319px;
    border-radius: 3px;
    margin: auto;
    margin-top: 46px;

}

.order_h1{
    text-align: center;
    font-family: 'Smythe', system-ui;
    font-size: 28px;
    font-weight: 400;
    line-height: 16.8px;

}
.products{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-bottom: 2px solid #393333;
    padding-bottom: 40px;
}

.product_remove{
    display: flex;
    gap: 10px;
}

.product_inge{
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: 28px;
    line-height: 16.8px;
}

.product_removal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #bbb;
}

.pricey{
    font-family: "Smythe", system-ui;
    font-size: 20px;
    font-weight: 400;

}

.total{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.totale{
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #0e0e0e;
}

.pricey_total{
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}
.quick{
    display: flex;
    flex-direction: column;
}

.fixAdd{
    display: flex;
    gap: 10px;
}

#poro{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.order_btn{
    width: 508px;
    height: 60px;
    border-radius: 3px;
    background-color: #16DB99;
    border: none;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.order_btn:hover, .order_btn:focus{
    background-color: #57d4ab;
}
#pay_btn:hover, #pay_btn:focus{
    background-color: #1abd87;
    cursor: pointer;
}

#productos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cone{
    display: flex;
}

.newFix{
    display: flex;
    justify-content: space-between;
}
.fixo{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: "Smythe", system-ui;
    font-size: 25px;
}

.prico{
    font-family: "Smythe", system-ui;
    font-size: 25px;
}

#card-details{
    width: 524px;
    height: 542.24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.3px solid #757575;
    border-radius: 3.89px;
    box-shadow: 5.19px 5.19px 255.44px 0 rgba(0, 0, 0, 0.5);
    
    background-color: #fff;

}

.details_card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.12px;
    margin-top: 35px;

}

input[type='text']{
    width: 100%;
    width: 475.91px;
    height: 71.3px;
    border: 1.3px solid #757575;
    border-radius: 3.89px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31.12px;
    padding-left: 35px;

}


input[type='text']:first-of-type{
    margin-top: 35px;
}

.pay{
    width: 475.91px;
    height: 71.3px;
    border:none;
    border-radius: 3.89px;
    background-color: #16DB99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 31.12px;
    color: #fff;
    display: block;
    margin: 0 auto;

}

.onWay{
    width: 504px;
    height: 120px;
    border-radius: 3px;
    background-color: #ECFDF5;
    margin: 50px auto;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: 32px;
    line-height: 16.8px;
    color: #065F46;
    

}

.product_removal:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hidden2{
    display: flex;
    justify-content: center;
    align-items: center;
}






